<form [formGroup]="form" (ngSubmit)="onUpload(form.value)">
  <div class="row mb-4 mt-4">
    <div class="col-2">
      <add-update-img [src] ="this.url" [default]="'NoImage.png'" (selected) ="onSelected($event)"></add-update-img>
    </div>
    <div class="col-10">
      <h1 class="title float-right">{{action}} {{type}}</h1>
    </div>
  </div>
  <div class="alert alert-danger" [ngClass]="alert.type" role="alert">
    <strong>Oops!</strong> You forgot to add title.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="alert.type = 'collapse'">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="form-group">
    <label for="type">Type of bear</label>
    <input formControlName="title" type="text" class="form-control" id="type" aria-describedby="type" placeholder="Enter the type of bear" />
  </div>
  <div class="alert alert-danger" [ngClass]="alert.description" role="alert">
    <strong>Oops!</strong> Looks like you forgot to add description.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="alert.description = 'collapse'">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="form-group">
    <label for="desc">Tell us more about it</label>
    <!--textarea formControlName="description" type="text" class="form-control" id="desc" placeholder="Description"></textarea-->
    <ckeditor formControlName="description" [config]="config" [editor]="editor" placeholder="Description" (ready)="onReady($event)"></ckeditor>
  </div>
  <div  class="text-center">
    <button *ngIf="!uploading" class="btn btn-primary mt-3" type="submit"><i class="fa fa-upload"></i> &nbsp;Upload information</button>
    <button *ngIf="uploading" class="btn btn-primary mt-3" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      &nbsp;Upload information
    </button>
  </div>  
</form>
