.login {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  padding: 0 1em 0 1em;
  position: relative;
  left: -10px;
  cursor: pointer;
}

  .login > span {
    position: relative;
    left: -24px;
    bottom: 2px;
    border: 2px solid #000;
    border-left-color: transparent;
    border-right-color: transparent;
    padding-bottom: 4px;   
  }

  .login::before {
    content: "";
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border: 2px solid #000;
    border-radius: 50%;
    left: -0.9rem;
    top: -2px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
  }

  .login::after {
    content: "";
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border: 2px solid #000;
    border-radius: 50%;
    right: 1.81rem;
    top: -2px;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(-45deg);
  }

  

.login>span> .user{
    font-size:1rem;    
    position:relative;
    padding:0 0 0 16px;
    bottom:0.25rem;    
}

  .login > span > .user::before {
    
    content: "";
    position: absolute;
    font-size:1.5rem;
    left:7px;
    top:2px;
    background:#222;
    height:100%;
    width:2px;
  }

  .login > span > .user::after {
    font-family: FontAwesome;
    content: "\f0d7";
    position: absolute;
    font-size: 0.8rem;
    right: -13px;
    top: 2px;
  }

  .login > .options {
    font-size: 1rem;
    position: absolute;
    z-index: 100;
    padding: 0 5px;
    right: 2.75rem;
    background: #343A40;
    border: 2px solid #000;
    border-top-color: transparent;
    margin-top: -1px;
    border-radius:4px;
  }

    .login > .options > ul {
      list-style-type: none;
      padding: 0;
    }
    .login > .options > ul > li  {     
      margin-bottom: 8px;
      font-size:0.9em;
    }

    button{
        background:transparent;
        color:#fff;
        border:none;
    }
