<div class="login" (click)="show = !show;">
  <span>
    <i class="fa fa-cog" aria-hidden="true"></i><span class="user">{{getUserName()}}</span>
  </span>
  <div class="options" *ngIf="show">
    <ul>
      <li *ngIf="authenticated()"><button (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Signout</button></li>
      <li *ngIf="!authenticated()"><button (click)="login()"><i class="fa fa-sign-in" aria-hidden="true"></i> Signin</button></li>
    </ul>
  </div>
</div>
