<div class="row mt-4">
  <div class="col-12">
    <h1 class="title text-center">{{bear.title}}</h1>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <img [src]="bear.img" class="content-img border  shadow-sm rounded mr-3" align="left" onerror="this.onerror=null;this.src='NoImage.png';"/>
    <p [innerHTML] ="bear.description"></p>
  </div>
</div>
