<app-nav-menu></app-nav-menu>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer mt-4 mb-4">&copy; Bear Club 2019 <br />Images and descriptions from <a href="https://bearwithus.org/8-bears-of-the-world/">https://bearwithus.org/8-bears-of-the-world/</a></footer>
