<div>
  <input style="display: none" accept="image/*"
         type="file" (change)="onFileChanged($event)"
         #fileInput>
  <img *ngIf="cropped" class="profile-img border  shadow-sm rounded" alt="..." #img />
  <image-cropper *ngIf="!cropped" [imageChangedEvent]="imageChangedEvent"  
                 [outputType]="'both'"
                 [aspectRatio]="1/1"
                 [imageQuality]="100"
                 [format]="png"
                 (imageCropped)="imageCropped($event)"></image-cropper>
  <button *ngIf="cropped" type="button" class="btn btn-primary rounded-circle btn-ueven-font btn-bottom editBtn" style="z-index:100" (click)="fileInput.click()"> <i class="fa fa-edit" aria-hidden="true"></i></button>
  <button *ngIf="!cropped" type="button" class="btn btn-primary rounded-circle btn-ueven-font btn-bottom editBtn" style="z-index:100" (click)="onCropped()"> <i class="fa fa-scissors" aria-hidden="true"></i></button>
</div>
