.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


img.card-img {
  width: 100%;
  height:auto;
}

.card-text{
  min-height:4.5em;
}
