<div class="row mb-4 mt-4">
  <div class="col-12">
    <button type="button"  class="btn btn-primary float-right" (click)="onAdd()"><i class="fa fa-paw"></i> Add Bear</button>
  </div>
 </div>
  <div *ngFor="let page of bears | pages:3; index as i;" class="row mb-2">
    <div *ngFor="let content of bears | pageContent:i*3:3" class="col-4">
      <div class="card">
        <img [src]="(content.img)?'api/v1/image/'+ content.img : 'NoImage.png'" alt="NoImage.png" class="card-img card-img-top" onerror="this.onerror=null;this.src='NoImage.png';" >
        <div class="card-body">
          <h5 class="card-title">{{content.title}}</h5>
          <p class="card-text line-clamp" [innerHTML]="getText(content.description)"></p>
          <button type="button" class="btn btn-outline-danger rounded-circle mr-2" (click)="delete(content.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-outline-primary rounded-circle btn-ueven-font mr-2" (click)="update(content.id)">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-outline-primary rounded-circle btn-ueven-font" (click)="read(content.id)">
            <i class="fa fa-book" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>   
  </div>
  

