body {
  height: 100vh;
  background-color: #F5F5F5;
}

button.btn-ueven-font {
  padding: 6px 10px 6px 12px;
}


img.content-img {
  width: 25%;
}

.footer {
  text-align: center;
  color: #606060;
}
