nav > span.navbar-brand > img.img-thumbnail {
  width: 4rem;
  object-fit: cover;
  padding: 1px;  
  cursor: pointer;
}
nav > span.navbar-brand > img.img-thumbnail:hover {    
  -webkit-box-shadow: -1px -1px 5px 0px rgba(255,255,255,1);
  -moz-box-shadow: -1px -1px 5px 0px rgba(255,255,255,1);
  box-shadow: -1px -1px 5px 0px rgba(255,255,255,1);  
}
nav > span.navbar-brand > img.img-thumbnail:active { 
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  
}

.nav-home-btn {
  border: 2px solid #222;
}

  .nav-home-btn > i {
    font-size: 2rem;
  }
