<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Bear <img src="/nav.jpg" alt="..." class="rounded-circle img-thumbnail" (click) ="goHome()"> Club</span>
  <app-login></app-login>
</nav>
